# .env.dist:jeff
#
# Development environment configuration
#

DEBUG=1 # -d
DEBUG_TRACE=1 # not impl
VERBOSE=1 # -v

# NOTE(JEFF): Redirect stdout to OS syslog handler;
# this is known as (legacy) /var/log/messages or (modern)
# `systemd-journald` on Linux OS
# logger -t [tag] <msg>
SYSLOG=1

